@import "../../../app/colors.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;

  .name {
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
  }

  .price {
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
  }
}
